<table class='org-legend'>
  <col width="20px">
  <col width="250px">
  <tr>
    <td><div id='legend-education'></div></td>
    <td>Education</td>
  </tr>
  <tr>
    <td><div id='legend-community'></div></td>
    <td>Community</td>
  </tr>
  <tr>
    <td><div id='legend-performing'></div></td>
    <td>Performing Arts</td>
  </tr>
  <tr>
    <td><div id='legend-support'></div></td>
    <td>Support and Advocacy</td>
  </tr>
  <tr>
    <td><div id='legend-collecting'></div></td>
    <td>Collecting, Curating, and Exibiting</td>
  </tr>
  <tr>
    <td><div id='legend-broadcast'></div></td>
    <td>Broadcast, Literary, and Media Arts</td>
  </tr>
</table>
