<div id='map-all-orgs'></div>

<div class="sidebar-all-orgs">
  <form id='form-org-search'>
    <input type="text" placeholder="Organization Name..." id='searchbox-org-name'><br>
    <input type="button" value="Search" id='btn-org-search'>
    <input type="button" value="Clear" id='btn-org-clear'>
  </form>
  <table id='tbl-org-searched'>
  </table>
  <table id='tbl-allorg'>
    <% @organizations.each do |organization| %>
      <tr id='row-<%= organization.id %>'>
        <td><%= organization.name %></td>
        <td><a href= '<%= organization_path(organization) %>' id='<%= organization.id %>'>More...</a></td>
      </tr>
    <% end %>
  </table>
</div>
